
span.toolbar {
    margin: 0 auto;
}
mat-toolbar {
    background: rgb(224, 182, 75);
}

.example-card {
    max-width: 250px;
    margin: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;

}
