
    <h1>Choose your trading card</h1>

    <div class="card" *ngIf="tradingCard">
      <img src="{{tradingCard.picture}}" style="width:100%" class="img-fluid" alt="Responsive image">
      <div class="container">
        <h2><b>{{tradingCard.name}}</b></h2> 
        <h2>Value: {{tradingCard.price}}</h2> 
      </div>
    </div>

<div class="body">

    <div *ngIf="userCards" class="cards">
        <mat-card class="example-card" *ngFor="let card of userCards">
            <mat-card-header>
              <h1>({{card.howMany}}x)</h1>
              <h2 class="card-name">{{card.name}}</h2>
              <h3 class="card-rarity">{{card.rarity | uppercase}}</h3>
            </mat-card-header>
            <img mat-card-image id="userCards" src={{card.picture}} alt="Photo of card" class="img-fluid">
            <h2 style="text-align: center;">Value: {{card.price}}</h2>
            <mat-card-actions>
              <button mat-raised-button color="basic" (click)="submitTrade(card._id)">Trade</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>
