
div.body {
    background: linear-gradient(to bottom, #333333, #e9d362); 
  }
.example-card {
    max-width: 400px;
    margin: 10px;
}
  
mat-card-actions{
    display: flex;
    justify-content: center;
}

mat-card {
    background: linear-gradient(to bottom, #333333, #e9d362); 
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
mat-card-title {
    background-color: yellow;
}

.card-name {
    color: gold;
}

.card-rarity {
    color: red;
}

span.toolbar {
    margin: 0 auto;
}

mat-toolbar {
    background: rgb(224, 182, 75);
}

#userCards {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 350px;
    margin: auto;
}

h1 {
    text-align: center;
}
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  mat-card-header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    padding: 2px 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media only screen and (min-width: 768px) {
    .card {
        margin: auto;
        border: 3px solid green;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 50%;
      }
  }

  @media only screen and (max-width: 768px) {
    .card {
        margin: auto;
        border: 3px solid green;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
      }
  }