.spacer {
    flex: 1 1 auto;
}


.mat-toolbar {
    background:black;
}

h1 {
    color: #ffd740;
}

nav {
    background: black;
    color: yellow;
}

a {
    color: #ffd740;
}

.navbar-toggler {
    color: white;
}
h1 {
    margin: 0;
}

