
   <mat-toolbar>
      <mat-toolbar-row>
         <a mat-mini-fab mat-button href="/">
          <mat-icon>home</mat-icon>
         </a>
         <a mat-stroked-button color="accent" routerLink="/profile" *ngIf="apiService.loggedIn()">My cards</a>
         <a mat-stroked-button color="accent" routerLink="/users" *ngIf="apiService.loggedIn()">Users</a>
         <a mat-stroked-button color="accent" routerLink="/chat/connections" *ngIf="apiService.loggedIn()">Chat</a>
         <a mat-stroked-button color="accent" routerLink="/admin" *ngIf="apiService.loggedIn() && apiService.isAdmin()">Admin Panel</a>
         <span class="spacer"></span>
         <h1 *ngIf="apiService.loggedIn()">Balance: {{ balance }}</h1>
         <span class="spacer"></span>
         <a mat-stroked-button routerLink="/register" *ngIf="!apiService.loggedIn()">Register</a>
         <a mat-stroked-button routerLink="/login" *ngIf="!apiService.loggedIn()">Login</a>
         <a mat-stroked-button color="warn" routerLink="/login" *ngIf="apiService.loggedIn()" (click)="apiService.logoutUser()">Logout</a>
      </mat-toolbar-row>
    </mat-toolbar>

