<app-navbar [balance]="currentBalance"></app-navbar>
<div>
    <p *ngFor="let msg of messages[activeRoom]"><strong>{{ msg.sender }}:</strong> {{ msg.message }}</p>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <input type="text" ngModel name="message" required>
        <button [disabled]="!form.valid" type="submit"> send message</button>
    </form>
    <div class="rooms">
        <button (click)="roomClicked('general')">General</button>
        <button (click)="roomClicked('trading')">Trading</button>
        <button (click)="leaveRoom()">LEAVE ROOM</button>
    </div>
    Currently on room: {{activeRoom}}
</div>
