
body {
  background: linear-gradient(to bottom, #2b6777, #c8d8e4);
}

.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
   
  .full-width {
    width: 100%;
  }

  mat-card{
    position: absolute;
    left: 40%;
    top: 25%;
    height: 250px;
    width: 300px;
  }

  mat-toolbar {
    display: flex;
    justify-content: center;
  }

