body {
  background: linear-gradient(to bottom, #2b6777, #c8d8e4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
   
  .full-width {
    width: 100%;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .container {
    max-width: 400px;
  }