body {
    background:linear-gradient(to bottom, #ef9273, #fef9f8);
}

mat-toolbar {
    background: black;
}

span.toolbar {
    margin: 0 auto;
}

div.coins {
    display: flex;
    flex-wrap: wrap;
}

.coin-card {
    max-width: 250px;
    margin: 20px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 200px;
    margin: auto;
}

button.details-button {
    margin: auto;
    display: block;
}