body {
  background:linear-gradient(to bottom, #ef9273, #fef9f8);
}

span.toolbar {
  margin: 0 auto;
}

mat-toolbar {
  background: black;
}

button.create-coin {
  position: absolute;
  right: 50px;
  margin: 10px;
}


div.coins {
  display: flex;
  flex-wrap: wrap;
}

.coin-card {
  max-width: 250px;
  margin: 20px;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 200px;
  margin: auto;
}

