<mat-toolbar color="primary">
  <mat-toolbar-row>
     <span><a href="/">HOME</a></span>
     <a mat-button routerLink="/profile" *ngIf="apiService.loggedIn()">Profile</a>
     <span class="spacer"></span>
     <a mat-button routerLink="/register" *ngIf="!apiService.loggedIn()">Register</a>
     <a mat-button routerLink="/login" *ngIf="!apiService.loggedIn()">Login</a>
     <a mat-button routerLink="/login" *ngIf="apiService.loggedIn()" (click)="apiService.logoutUser()">Logout</a>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
