<app-navbar-general></app-navbar-general>


  <nav class="navbar navbar-expand-lg bg-black">
   <a mat-mini-fab class="white-icon-button" mat-button href="/collection/home">
      <mat-icon>home</mat-icon>
     </a>

   <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
     <ul class="navbar-nav">
       <li class="nav-item active">

         <a mat-button class="nav-link" routerLink="/collection/profile" (click)="isMenuCollapsed = true" *ngIf="apiService.loggedIn()">My collection</a>
       </li>
       <li class="nav-item">
         <a mat-button (click)="isMenuCollapsed = true" routerLink="/collection/users" *ngIf="apiService.loggedIn()">Users</a>
       </li>
       <li class="nav-item">
         <a mat-button (click)="isMenuCollapsed = true" routerLink="/collection/catalogue" *ngIf="apiService.loggedIn()">Catalogue</a>
       </li>
       <li class="nav-item">
         <a mat-button (click)="isMenuCollapsed = true" routerLink="/collection/chat" *ngIf="apiService.loggedIn()">Chat</a>
       </li>
       <li class="nav-item">
         <a mat-button (click)="isMenuCollapsed = true" routerLink="/collection/admin" *ngIf="apiService.loggedIn() && apiService.isAdmin()">Admin Panel</a>
       </li>
     </ul>
     
   </div>

    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      &#9776;
    </button>
    <span class="spacer"></span>
   <a mat-stroked-button color="warn" routerLink="/login" *ngIf="apiService.loggedIn()" (click)="apiService.logoutUser()">Logout</a>
 </nav>