<app-collection-nav></app-collection-nav>
<body>
    <div class="container">

        <div id="wrapper">

            <div id="menu">
                <mat-card>
                    <div class="welcome">
                        <div class="btn-group">
                            <button mat-raised-button color="basic" class="btn btn-secondary" (click)="roomClicked('general')" style="margin: 3px;">General</button>
                                <span class="activeRoom">Currently on room: <p class="font-weight-bold">{{activeRoom}}</p></span>
                            <button mat-raised-button color="basic" class="btn btn-secondary" (click)="roomClicked('trading')" style="margin: 3px;">Trading</button>
                        </div>
                    </div>
                    <button mat-raised-button color="primary" (click)="leaveRoom()">LEAVE ROOM</button>
                </mat-card>
                
                
            </div>
        
            <div id="chatbox">
                <p *ngFor="let msg of messages[activeRoom]"><strong style="font-weight:bold;">{{ msg.sender }}:</strong> {{ msg.message }}</p>
            </div>
            <form #form="ngForm" (ngSubmit)="onSubmit()">
                <input matInput  type="text" ngModel name="message" required>
                <button mat-raised-button color="basic" [disabled]="!form.valid" type="submit"> send message</button>
            </form>

        </div>

    </div>
</body>

