<app-navbar [balance]="currentBalance"></app-navbar>


<div class="body">
    <mat-toolbar>
        <span class="toolbar">{{ userName }} Cards</span>
    </mat-toolbar>
    <div *ngIf="userCards" class="cards">
        <mat-card class="example-card" *ngFor="let card of userCards">
          <div class="description">
            <h1 class="card-name">{{card.name}}</h1>
            <h2>({{card.howMany}}x)</h2>
          </div>
          <h3 class="card-rarity">{{card.rarity | uppercase}}</h3>
            <img mat-card-image src={{card.picture}} alt="Photo of card">
            <span>Value: <b>{{card.price}}</b></span>
            <h1 style="text-align: center;"><b>Features</b></h1>
            <table>
                <tbody>
                    <tr>
                        <th>
                            <b>Country</b>
                        </th>
                        <td>
                            {{card.issuer}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Year
                        </th>
                        <td>
                            {{card.year}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Real Value
                        </th>
                        <td>
                            {{card.value}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Currency
                        </th>
                        <td>
                            {{card.currency}}
                        </td>
                    </tr>
                </tbody>
            </table>
            <mat-card-actions>
              <button mat-raised-button color="basic" (click)="openDialog(loggedUser,card._id)">Trade</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>


