<app-navbar></app-navbar>
<mat-toolbar>
    <span class="toolbar">Admin panel</span>
</mat-toolbar>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Users">      
        
        <table mat-table [dataSource]="usersTable" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="username" >
              <th mat-header-cell *matHeaderCellDef>	<mat-icon>account_circle</mat-icon> Username </th>
              <div><td mat-cell *matCellDef="let element"> {{element.username}} </td></div>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>	<mat-icon> email</mat-icon> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

              <ng-container matColumnDef="admin">
                <th mat-header-cell *matHeaderCellDef> Admin </th>
                <td mat-cell *matCellDef="let element"> {{element.admin}} </td>
              </ng-container>

                  
              <ng-container matColumnDef="change role">
                <th mat-header-cell *matHeaderCellDef> Change role </th>
                <ng-container *matCellDef="let element">
                  <td mat-cell *ngIf="currentUser._id != element._id"> 
                    <button mat-button (click)="openDialog(element._id)">Change role</button>
                  </td>
                </ng-container>
              </ng-container>
              
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef > Delete </th>
                <ng-container *matCellDef="let element">
                  <td mat-cell *ngIf="currentUser._id != element._id"> <button mat-button (click)="deleteUser(element._id)"><mat-icon>delete_forever</mat-icon></button> </td>
                </ng-container>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>        
    </mat-tab>
    <mat-tab label="Cards">
      
        <mat-card class="my-card">
          <mat-toolbar>
             <span>Card creation</span>
         </mat-toolbar>
         <mat-card-content>
            <form [formGroup]="cardCreateForm" (ngSubmit)="createCard()" >
              
                <mat-form-field class="full-width">
                    <mat-label>Card Name</mat-label>
                    <input  matInput  placeholder="CardName" id="cardName" type="text" formControlName="name">
                    <!-- <mat-error *ngIf="submitted && f.fullName.errors">
                     <mat-error *ngIf="f.fullName.errors.required">
                        Full name is required
                     </mat-error>
                    </mat-error> -->
                 </mat-form-field>
<!--       
                 <mat-form-field class="full-width">
                  <mat-label>Picture</mat-label>
                     <input  matInput  placeholder="Username" id="username" type="text" formControlName="username">
                     <input type="file" class="file-upload" formControlName="picture" onchange="console.log(event.target.files)">
                     <mat-error *ngIf="submitted && f.username.errors">
                        <mat-error *ngIf="f.username.errors.required">
                           Username is required
                        </mat-error>
                        <mat-error *ngIf="f.username.errors.minlength">
                           Username must be at least 6 characters
                        </mat-error>
                        <mat-error *ngIf="f.username.errors.maxlength">
                           Username must not exceed 20 characters
                        </mat-error>
                     </mat-error>
                  </mat-form-field> -->
      
                  <mat-form-field class="full-width">
                     <mat-label>Price</mat-label>
                        <input  matInput  placeholder="Price" id="price" type="text" formControlName="price">
                        <!-- <mat-error *ngIf="submitted && f.email.errors">
                           <mat-error *ngIf="f.email.errors.required">
                              Email is required
                           </mat-error>
                           <mat-error *ngIf="f.email.errors.email">
                              Email is invalid
                           </mat-error>
                        </mat-error> -->
                     </mat-form-field>
      
                     <!-- <mat-form-field class="full-width">
                        <mat-label>Rarity</mat-label>
                          <mat-label>Favorite food</mat-label>
                          <mat-select formControlName="rarity">
                            <mat-option *ngFor="let food of foods" [value]="food.value" >
                              {{food.viewValue}}
                            </mat-option>
                          </mat-select>
                           <input  matInput  placeholder="Password" id="password" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                           <mat-error *ngIf="submitted && f.password.errors">
                              <mat-error *ngIf="f.password.errors.required">
                                 Password is required
                              </mat-error>
                              <mat-error *ngIf="f.password.errors.minlength">
                                 Password must be at least 6 characters
                              </mat-error>
                              <mat-error *ngIf="f.password.errors.maxlength">
                                 Password must not exceed 40 characters
                              </mat-error>
                           </mat-error>
                     </mat-form-field> -->
    
                        
               <mat-card-actions>
                   <button mat-raised-button type="submit" color="primary">Create</button>
               </mat-card-actions>
            </form>
         </mat-card-content>
      </mat-card>    

    </mat-tab>
</mat-tab-group>

