
 .card {
    display: flex;
    justify-content: flex-start;
    max-width: 100px;
    margin: 10px;
    padding: 10px;
}
.mat-card {
    margin: 10px;
}
span.toolbar {
    margin: 0 auto;
}

table {
  border: 1px solid #ccc;
  margin: 0;
  padding: 0;
  width: 100%;
}

.example-header {
  display: flex;
  justify-content: center;
}
.my-form{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
   
.full-width {
  width: 100%;
}
mat-toolbar {
  background: rgb(224, 182, 75);
}
  
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.my-banknote {
  width: 800px;
  margin: auto;
  display: block;
}
