<app-navbar></app-navbar>
<mat-toolbar>
    <span class="toolbar">Admin panel</span>
</mat-toolbar>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Users">      

      <div class="example-header">
      <mat-card>
         <mat-form-field class="filter">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
      </mat-card>
      </div>
        
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

            <ng-container matColumnDef="username" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header>	<mat-icon>account_circle</mat-icon> Username </th>
              <div><td mat-cell *matCellDef="let element"> {{element.username}} </td></div>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>	<mat-icon> email</mat-icon> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

              <ng-container matColumnDef="admin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Admin </th>
                <td mat-cell *matCellDef="let element"> {{element.admin}} </td>
              </ng-container>

                  
              <ng-container matColumnDef="change role">
                <th mat-header-cell *matHeaderCellDef > Change role </th>
                <ng-container *matCellDef="let element">
                  <td mat-cell *ngIf="currentUser._id != element._id; else elseBlock"> 
                    <button mat-button (click)="openDialog(element._id)">Change role</button>
                  </td>
                  <ng-template #elseBlock>
                     <td mat-cell>
                      </td>
                   </ng-template> 
                </ng-container>
              </ng-container>
              
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef > Delete </th>
                <ng-container *matCellDef="let element">
                  <td mat-cell *ngIf="currentUser._id != element._id; else elseBlockDelete"> <button mat-button (click)="deleteUser(element._id)"><mat-icon>delete_forever</mat-icon></button> </td>
                  <ng-template #elseBlockDelete>
                     <td mat-cell>
                      </td>
                   </ng-template> 
                </ng-container>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>     
          <mat-paginator [pageSizeOptions]="[5, 10, 15]"
                 showFirstLastButtons>
      </mat-paginator>   
    </mat-tab>
    <mat-tab label="Banknotes">
      
        <mat-card class="my-banknote">
          <mat-toolbar>
             <span>Banknote creation</span>
         </mat-toolbar>
         <mat-card-content>
            <form [formGroup]="cardCreateForm" (ngSubmit)="createCard()" >
              
               <mat-form-field class="full-width">
                  <mat-label>Name</mat-label>
                  <input  matInput  placeholder="Name" id="name" type="text" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                  <mat-error *ngIf="submitted && f.name.errors">
                     <mat-error *ngIf="f.name.errors.required">
                        Name is required
                     </mat-error>
                     <mat-error *ngIf="f.name.errors.minlength">
                        Name  must be at least 4 characters
                     </mat-error>
                     <mat-error *ngIf="f.name.errors.maxlength">
                        Name  must not exceed 20 characters
                     </mat-error>
                  </mat-error>
               </mat-form-field>

               <mat-form-field class="full-width">
                  <mat-label>Country</mat-label>
                  <input  matInput  placeholder="Country" id="issuer" type="text" formControlName="issuer" [ngClass]="{ 'is-invalid': submitted && f.issuer.errors }">
                  <mat-error *ngIf="submitted && f.issuer.errors">
                     <mat-error *ngIf="f.issuer.errors.required">
                        Country is required
                     </mat-error>
                     <mat-error *ngIf="f.issuer.errors.minlength">
                        Country  must be at least 2 characters
                     </mat-error>
                     <mat-error *ngIf="f.issuer.errors.maxlength">
                        Country  must not exceed 150 characters
                     </mat-error>
                  </mat-error>
               </mat-form-field>

               <mat-form-field class="full-width">
                  <mat-label>Year</mat-label>
                  <input  matInput  placeholder="Year" id="year" type="number" formControlName="year" [ngClass]="{ 'is-invalid': submitted && f.year.errors }">
                  <mat-error *ngIf="submitted && f.year.errors">
                     <mat-error *ngIf="f.year.errors.required">
                        Year is required
                     </mat-error>
                     <mat-error *ngIf="f.year.errors.max">
                        Year cannot exceed 2022
                     </mat-error>
                     <mat-error *ngIf="f.year.errors.min">
                        Year at least have to be 1
                     </mat-error>
                  </mat-error>
               </mat-form-field>

               <mat-form-field class="full-width">
                  <mat-label>Real value</mat-label>
                  <input  matInput  placeholder="Value" id="value" type="number" formControlName="value" [ngClass]="{ 'is-invalid': submitted && f.value.errors }">
                  <mat-error *ngIf="submitted && f.value.errors">
                     <mat-error *ngIf="f.value.errors.required">
                        Value is required
                     </mat-error>
                     <mat-error *ngIf="f.value.errors.max">
                        Value must be less than 1000000
                        </mat-error>
                        <mat-error *ngIf="f.value.errors.min">
                            Value must be at least 0.01
                        </mat-error>
                  </mat-error>
               </mat-form-field>

               <mat-form-field class="full-width">
                  <mat-label>Currency</mat-label>
                  <input  matInput  placeholder="Currency" id="currency" type="text" formControlName="currency" [ngClass]="{ 'is-invalid': submitted && f.currency.errors }">
                  <mat-error *ngIf="submitted && f.currency.errors">
                     <mat-error *ngIf="f.currency.errors.required">
                        Currency is required
                     </mat-error>
                     <mat-error *ngIf="f.currency.errors.maxlength">
                        Currency must not exceed 20 characters
                       </mat-error>
                       <mat-error *ngIf="f.currency.errors.minlength">
                        Currency  must be at least 1 characters
                       </mat-error>
                  </mat-error>
               </mat-form-field>

               <mat-form-field class="full-width">
                  <mat-label>Picture link</mat-label>
                  <input  matInput  placeholder="Picture" id="picture" type="text" formControlName="picture" [ngClass]="{ 'is-invalid': submitted && f.picture.errors }">
                     <mat-error *ngIf="submitted && f.picture.errors">
                        <mat-error *ngIf="f.picture.errors.required">
                        Picture link is required
                        </mat-error>
                     </mat-error>
               </mat-form-field>

               <div *ngIf="img_source">
                  <img src={{img_source}} alt="preview">
               </div>

               <mat-form-field class="full-width">
                  <mat-label>Price</mat-label>
                  <input  matInput  placeholder="Price" id="price" type="number" formControlName="price" [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
                  <mat-error *ngIf="submitted && f.price.errors">
                     <mat-error *ngIf="f.price.errors.required">
                        Price is required
                     </mat-error>
                     <mat-error *ngIf="f.price.errors.max">
                        Price must not exceed 1000000
                       </mat-error>
                       <mat-error *ngIf="f.price.errors.min">
                        Price  must be at least 1
                       </mat-error>
                  </mat-error>
               </mat-form-field>

               <mat-form-field appearance="fill">
                  <mat-label>Rarity</mat-label>
                  <mat-select name="role" formControlName="rarity" [ngClass]="{ 'is-invalid': submitted && f.rarity.errors }">
                    <mat-option *ngFor="let rarity of rarity" [value]="rarity.value">
                      {{rarity.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="submitted && f.rarity.errors">
                     <mat-error *ngIf="f.rarity.errors.required">
                        Rarity is required
                     </mat-error>
                  </mat-error>
                </mat-form-field>  

                <mat-form-field class="full-width">
                  <mat-label>Comment</mat-label>
                  <textarea   matInput  placeholder="Comment" id="comment" formControlName="comment"></textarea>
                  <mat-error *ngIf="submitted && f.comment.errors">
                     <mat-error *ngIf="f.comment.errors.maxlength">
                        Comment must not exceed 1000 characters
                     </mat-error>
                     <mat-error *ngIf="f.comment.errors.minlength">
                        Comment must be at least 5 characters
                     </mat-error>
                  </mat-error>
               </mat-form-field>
      
               <mat-card-actions>
                   <button mat-raised-button type="submit" color="primary">Create</button>
               </mat-card-actions>
               
            </form>
            <button mat-raised-button (click)="previewImage()" color="basic">Preview Image</button>
         </mat-card-content>
      </mat-card>    

    </mat-tab>
</mat-tab-group>

