
span.toolbar {
    margin: 0 auto;
}
mat-toolbar {
    background: black;
}

.example-card {
    max-width: 250px;
    margin: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;

}
body {
    background:linear-gradient(to bottom, #ef9273, #fef9f8);
}