div.container {
    background:linear-gradient(to bottom, #333333, #e9d362);
    display: flex;
    justify-content: center;
  }

h1 {
    text-align: center;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 350px;
}