div.container {
    background:linear-gradient(to bottom, #333333, #e9d362);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1px;
  }

h1 {
    text-align: center;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 350px;
  margin: 20px;
}

th{
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0;
}